/* yellow #37a2d6  / rgba(255,234,0)  color:#deae2e
====================================================================== */
::selection {
  background-color: #37a2d6;
}
::-moz-selection {
  background-color: #37a2d6;
}

.header .main-menu .navbar .nav > li:hover > a {
  background-color: #37a2d6;
  color: #565a60;
}
.header .main-menu .navbar .nav > li:hover > a {
  background-color: #37a2d6;
  color: #565a60;
}
.header .main-menu .navbar .nav > li.parent:hover > a {
  background: #37a2d6;
  color: #fff;
}
.header .main-menu .navbar .nav > li.current > a {
  background: #37a2d6;
  color: #fff;
}
.header-2 .main-menu .navbar .nav > li.current > a {
  border-bottom: 3px solid #37a2d6;
  background: #fff;
  color: #565a60;
}
.header .main-menu .sub {
  background: #fff;
  border-top: 10px solid #37a2d6;
  border-bottom: 10px solid #37a2d6;
}
.social-link {
  color: #4b4e53;
  background-color: #37a2d6;
}
.social-link:hover {
  color: #37a2d6;
  background-color: #4b4e53;
}
.sb-search-open .sb-search-input {
  border: 2px solid #37a2d6;
}
.sb-search-submit:hover,
.sb-icon-search:hover {
  background-color: #37a2d6;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #37a2d6;
}
.next-blog,
.prev-blog,
.next-portfolio,
.prev-portfolio {
  background-color: #37a2d6;
}
.ts-icon-container {
  background-color: #37a2d6;
}
.nl-icon-container {
  background-color: #37a2d6;
}
.nl-button {
  color: #4b4e53;
  background-color: #37a2d6;
}
blockquote.custom-blockquote:before {
  background-color: #37a2d6;
}
.page-title-container {
  background: #37a2d6;
}
.countdown-item-container {
  background: #37a2d6;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}
.sevice-item {
  background: #37a2d6;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}
.blog-categories li a:hover .blog-cat-icon {
  background-color: #37a2d6;
}
.blog-categories li.current .blog-cat-icon {
  background-color: #37a2d6;
}
.pagination-1 a:hover {
  background-color: #37a2d6;
  color: #4b4e53;
}
.pagination-1 a.pag-current {
  background: #37a2d6;
  color: #4b4e53;
}
.pagination-1 .pag-prev:hover {
  background-color: #37a2d6;
}
.pagination-1 .pag-next:hover {
  background-color: #37a2d6;
}
.by-post-author .comment-author-avatar {
  background: #37a2d6;
}
.comment-author-badge {
  background: #37a2d6;
}
.skill-bar-content {
  background: #37a2d6;
}
.skillbar-bar {
  background: #37a2d6;
}
.latest-post-sidebar img:hover {
  border-color: #37a2d6;
  background: none repeat scroll 0 0 #37a2d6;
}
.social-share-container .main-menu-icon:hover {
  background: #37a2d6;
}
.dropcap4 {
  background: none repeat scroll 0 0 #37a2d6;
  color: #fff;
}
.social-icons-container-footer {
  background-color: #37a2d6;
}
.title-block.footer-block {
  color: #fff;
  background-color: #37a2d6;
}
.latest-post-footer-item a:hover .title-post-footer {
  color: #37a2d6;
}
.title-bg-after:after {
  background: #37a2d6;
}
#footer-nav li a:hover {
  color: #37a2d6;
}
.footer-copyright-text a.author {
  color: #fff;
}
.logo-row-footer-2 {
  background-color: #37a2d6;
}
.title-block.footer-2-block {
  color: #4b4e53;
  background-color: #37a2d6;
}
.r-m-plus:after {
  background-color: #37a2d6 !important;
}
a.r-m-full:hover {
  background-color: #37a2d6;
  color: #414146;
}
a.r-m-plus-small {
  background-color: #37a2d6 !important;
}
.blog-rm:hover {
  background-color: #37a2d6 !important;
  color: #4b4e53 !important;
  border: 2px solid #37a2d6 !important;
}
.highlight-text,
.highlight-text-grey {
  background-color: #37a2d6;
}
.button {
  background-color: #37a2d6;
  color: #4b4e53;
}
.button.thin:hover {
  background-color: #37a2d6;
  color: #4b4e53;
  /* border: 2px solid #37a2d6 ; */
}
.button.thin-bg-dark:hover {
  background-color: #37a2d6 !important;
  color: #4b4e53 !important;
  border: 2px solid #37a2d6 !important;
}
.button.hover-thin {
  border: 2px solid #37a2d6;
}
.button.thin-inv,
.button.thin-inv-bg-dark {
  background-color: #37a2d6 !important;
  color: #fff !important;
  border: 2px solid #37a2d6 !important;
}
.button.gray:hover {
  color: #4b4e53;
  background-color: #37a2d6;
}
.button.gray-lite:hover {
  background-color: #37a2d6;
  cursor: pointer;
}
.button.get-theme {
  background-color: #37a2d6;
}
#back-top a:hover {
  background-color: #37a2d6;
}
.feature-box2 .ca-icon {
  background-color: #37a2d6;
  color: #4b4e53;
}
.feature-box1 {
  background-color: #37a2d6;
}
.feature-box1:before {
  background: #37a2d6;
}
.feature-box1:after {
  background: #37a2d6;
}
.ui-accordion-header:hover span {
  background-color: #37a2d6;
}
.ui-accordion-header-active span {
  background-color: #37a2d6;
}
.title-block-2 {
  color: #4b4e53;
  background-color: #37a2d6;
}
.title-block {
  color: #fff;
  background-color: #37a2d6;
}
.title-lines:before {
  background: #a2d637;
}
.pt-best .pt-content-container {
  border-right: 2px solid #37a2d6;
  border-left: 2px solid #37a2d6;
}
.pt-best .pt-h1-container {
  border: 2px solid #37a2d6;
}
.pt-best .price-container {
  background: #37a2d6;
  color: #4b4e53;
}
.price-col-main h1 {
  background-color: #37a2d6;
  color: #414146;
}
.pt-col-main {
  background-color: #37a2d6;
}
h1.pt-col-main {
  background-color: #37a2d6;
  color: #414146;
}
.feature2-numb-container {
  background-color: #37a2d6;
}
.hi-icon-wrap {
  background-color: #37a2d6;
}
.normal-page .normal-page-act {
  background-color: #37a2d6 !important;
}
.one-page .one-page-act {
  background-color: #37a2d6 !important;
}
.layout-switcher a.layout:hover {
  background: #37a2d6;
}
.layout-switcher a.layout.current {
  cursor: default;
  background: #37a2d6;
}
a.dark-style:hover {
  color: #414146;
  background: #37a2d6;
}
/********************************************/
.post-meta li a:hover {
  color: #deae2e;
}
a {
  color: #deae2e;
}
.a-invert:hover {
  color: #deae2e;
}
.counter-bg-color {
  background: #37a2d6;
}
.feature7-bg-mask {
  background-color: rgba(255, 234, 0, 0.5);
}
.feature7-main-container {
  background: #37a2d6;
}
.feature7-main-text {
  color: #4b4e53;
}
.feature7-sub-text {
  color: #4b4e53;
  border-left: 2px solid #4b4e53;
}
/* #RGB
*********************************************/
.ts-icon-container-bg {
  background-color: rgba(255, 234, 0, 0.5);
}
.nl-icon-container-bg {
  background-color: rgba(255, 234, 0, 0.5);
}
/******************************************************************************
  Max Width "991px"
*******************************************************************************/
@media (max-width: 991px) {
  .sb-search-submit-respons {
    background-color: #37a2d6;
  }
  .sb-search-submit-respons:hover {
    background-color: #37a2d6;
  }
}

/* #FLEXSLIDER
*********************************************/
.flex-direction-nav li a:hover {
  /* background-color: #37a2d6 ; */
}
.slider-1 .slides li h2 {
  color: #414146;
  background-color: #37a2d6;
}

/* #REVO SLIDER
*********************************************/
.slider-1-cap-bg30 {
  background-color: #37a2d6;
  color: #4b4e53;
}
.slider-1-cap-bg30-only {
  background-color: #37a2d6;
  color: #414146;
}
